*{
    margin: 0;
    padding: 0;
}
.counter-bar{
    min-height: 40vh;
    background: var(--blue);
    box-shadow: rgba(50, 50, 93, .4) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.4) 0px 22px 36px -18px inset;
}
.counter_text{
    font-size: 26px;
}
.thumb_bar{
    width: 250px;
    height: 1px;
    background: lightgrey;
    text-align: center;
}